name: "Bookshelf Action: Close Issue"
on:
  issues:
    types: [closed]
jobs:
  bookshelf-action:
    name: Bookshelf Action
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT }}
      - name: Run Bookshelf Action
        uses: AnandChowdhary/bookshelf-action@HEAD
        with:
          command: "onCloseIssue"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
